<section
	id="about"
	class="about"
	a-animation="from-right"
>
	<a-container class="grid grid-cols-12 gap-6">
		<div class="about__image col-span-12 md:col-span-5"></div>

		<div class="col-span-12 md:col-span-7 md:py-4">
			<div class="grid gap-10 md:gap-12">
				<div class="grid gap-11 md:gap-15">
					<div class="uppercase text-2xl md:text-3xl leading-135">
						<span> И сеанс </span>
						<span class="text-primary">
							одновременной игры в шахматы на 160 досках
						</span>
						<span> гроссмейстера О. Бендера </span>
					</div>

					<a-table>
						<div>
							<span>Место проведения:</span>
							<span>Клуб «Картонажник»</span>
						</div>

						<div>
							<span>Дата и время мероприятия:</span>
							<span>22 июня 1927 г. в 18:00</span>
						</div>

						<div>
							<span>Стоимость входных билетов:</span>
							<span>20 коп.</span>
						</div>

						<div>
							<span>Плата за игру:</span>
							<span>50 коп.</span>
						</div>

						<div>
							<span>Взнос на телеграммы:</span>
							<span>
								<span class="line-through decoration-red">100 руб.</span>
								<span>21 руб. 16 коп.</span>
							</span>
						</div>
					</a-table>
				</div>

				<div class="text-golos text-blue leading-120">
					По всем вопросам обращаться в администрацию к К. Михельсону
				</div>
			</div>
		</div>
	</a-container>
</section>

<style>
	#about.about {
		.about__image {
			background-image: url('/four-horses/images/about.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			min-height: 400px;
		}
	}
</style>
