<section
	id="stages"
	a-animation="from-left"
>
	<a-container class="grid gap-5 md:gap-13">
		<!-- title -->
		<div class="grid grid-cols-12">
			<div
				class="uppercase text-3xl md:text-4xl leading-120 col-span-12 md:col-span-9 flex flex-wrap items-center gap-y-0 gap-x-2"
			>
				<span>Этапы</span>
				<span>преображения</span>
				<span>Васюков</span>
				<span
					class="normalcase text-base max-w-70 max-md:py-3 text-blue leading-120 text-golos"
				>
					Будущие источники обогащения васюкинцев
				</span>
			</div>
		</div>
		<!-- !title -->

		<div class="airplane">
			<a-stages
				a-cols='{ "xs":2, "lg": 3 }'
				a-stages-group='{ "xs":2, "md": 1 }'
			>
				<div>Строительство железнодорожной магистрали Москва-Васюки</div>
				<div>
					Открытие фешенебельной гостиницы «Проходная пешка» и других
					небоскрёбов
				</div>
				<div rows='{ "xs": 2 }'>
					Поднятие сельского хозяйства в радиусе на тысячу километров:
					производство овощей, фруктов, икры, шоколадных конфет
				</div>
				<div>Строительство дворца для турнира</div>
				<div>Размещение гаражей для гостевого автотранспорта</div>
				<div rows='{ "xs": 2, "lg": 1 }'>
					Постройка сверхмощной радиостанции для передачи всему миру
					сенсационных результатов
				</div>
				<div
					rows='{ "xs": 2, "lg": 1 }'
					cols='{ "xs": 1, "lg": 2 }'
					class="lg:pr-50"
				>
					Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых
					самолётов и дирижаблей во все концы света, включая Лос-Анжелос
					и Мельбурн
				</div>
			</a-stages>
		</div>
	</a-container>
</section>

<style>
	#stages {
		.airplane {
			position: relative;
			z-index: 0;

			&:before {
				position: absolute;
				content: '';

				z-index: 10;
				inset: 0;

				background-image: url('/images/airplane.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center right;
			}
		}
	}

	body:not(.md) {
		#stages {
			.airplane:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 40%;
				background-position: top right;
			}
		}
	}
	body.md {
		#stages {
			.airplane:before {
				top: -40%;
				left: 60%;
				right: -50px;
				bottom: 80%;
				background-position: center right;
			}
		}
	}
	body.lg {
		#stages {
			.airplane:before {
				top: 40%;
				left: 60%;
				right: -50px;
				bottom: 0%;
				background-position: center right;
			}
		}
	}
</style>
