<section>
	<a-container class="grid gap-y-40 md:gap-y-16">
		<!-- title -->
		<div class="grid grid-cols-12">
			<div
				class="uppercase text-3xl leading-120 col-span-12 md:col-span-9 flex flex-wrap items-center gap-y-0 gap-x-2"
			>
				<span>Этапы</span>
				<span>преображения</span>
				<span>Васюков</span>
				<span
					class="normalcase text-base max-w-70 max-md:py-3 text-blue leading-120 text-golos-text"
				>
					Будущие источники обогащения васюкинцев
				</span>
			</div>
		</div>
		<!-- !title -->

		<!-- data -->
		<a-stages cols="3">
			<div>Строительство железнодорожной магистрали Москва-Васюки</div>
			<div>
				Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
			</div>
			<div row="2">
				Поднятие сельского хозяйства в радиусе на тысячу километров:
				производство овощей, фруктов, икры, шоколадных конфет
			</div>
			<div>Строительство дворца для турнира</div>
			<div>Размещение гаражей для гостевого автотранспорта</div>
			<div>
				Постройка сверхмощной радиостанции для передачи всему миру сенсационных
				результатов
			</div>
			<div col="2">
				Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых
				самолётов и дирижаблей во все концы света, включая Лос-Анжелос
				и Мельбурн
			</div>
		</a-stages>
		<!-- !data -->
	</a-container>
</section>
