<section class="stages">
	<a-container class="grid grid-cols-1 gap-y-5 md:gap-y-14">
		<!-- title -->
		<div class="grid grid-cols-12">
			<div
				class="uppercase text-3xl leading-120 col-span-12 md:col-span-9 flex flex-wrap items-center gap-y-0 gap-x-2"
			>
				<span>Этапы</span>
				<span>преображения</span>
				<span>Васюков</span>
				<a
					is="a-link"
					target="_blank"
					class="normalcase text-base max-w-70 max-md:py-3"
					href="https://yandex.ru/"
				>
					Будущие источники обогащения васюкинцев
				</a>
			</div>
		</div>
		<!-- !title -->

		<!-- data -->
		<div class="col-span-12 md:col-span-7 md:py-4">
			<div class="grid gap-10 md:gap-12">
				<div class="grid gap-11 md:gap-15">
					<div class="uppercase text-2xl leading-135">
						<span> И сеанс </span>
						<span class="text-primary">
							одновременной игры в шахматы на 160 досках
						</span>
						<span> гроссмейстера О. Бендера </span>
					</div>

					<div>tabletabletabletabletable</div>
				</div>

				<a
					is="a-link"
					target="_blank"
					href="https://yandex.ru/"
				>
					По всем вопросам обращаться в администрацию к К. Михельсону
				</a>
			</div>
		</div>
		<!-- !data -->
	</a-container>
</section>

<style>
	.stages {
	}
</style>
