<section
	id="support"
	class="support"
>
	<a-container class="grid grid-cols-12 gap-6 md:gap-16">
		<div
			class="uppercase text-3xl leading-135 col-span-12 md:col-span-7 md:py-4"
		>
			<span>
				Чтобы&nbsp;поддержать Международный васюкинский турнир посетите лекцию
				на&nbsp;тему:
			</span>
			<span class="text-primary"> «Плодотворная дебютная идея» </span>
		</div>
		<div class="support__image col-span-12 md:col-span-5"></div>
	</a-container>
</section>

<style>
	.support {
		.support__image {
			background-image: url('/src/assets/images/support.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			min-height: 210px;
		}
	}
</style>
