<section class="support grid grid-cols-12 gap-16 support__image">
  <div class="upper-case text-2xl md:col-span-8 col-span-12">
    <span>
      Чтобы&nbsp;поддержать Международный васюкинский турнир посетите лекцию
      на&nbsp;тему:
    </span>
    <span class="text-primary"> «Плодотворная дебютная идея» </span>
  </div>
  <div class="support__image md:col-span-4 col-span-12"></div>
</section>

<style>
  .support {
    .support__image {
      background-image: url('src/assets/images/support.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
</style>
